@charset "utf-8";
// pc端
$size_p: 45.504;
// 移动端
$size_m: 16;
// 函数变量 pc样式 官网 45.504px
@mixin footer_p {
  .footer_m{
    display: none;
  }
  .footer_p{
    width: 100%;
    background-color: #429aeb;
    height: 200rem/$size_p;
    //position: absolute;
    //bottom: 0;
    color: white;
    font-size: 17rem/$size_p;
  }
  .footer_left{
    line-height: 40rem/$size_p;
    width: 890rem/$size_p;
    margin-left: 430rem/$size_p;
    border-right: solid 1px #fff;
    margin-top: 25rem/$size_p;
    padding: 25rem/$size_p 0;
    float: left;
    .link{
      font-size: 22rem/$size_p;
    }
    a{
      color: white;
    }
  }
  .footer_right{
    line-height: 60rem/$size_p;
    float: left;
    width: 300rem/$size_p;
    margin-top: 25rem/$size_p;
    margin-left: 50rem/$size_p;
    padding: 20rem/$size_p 0;
    li{
      display: inline-block;
      margin-right: 20rem/$size_p;
      margin-top: 15rem/$size_p;
    }
    img{
      width: 36rem/$size_p;
      height: 36rem/$size_p;
    }
  }
}
@mixin footer_m {
  .footer_p{
    display: none;
  }
  .footer_m{
    background-color: #429aeb;
    width: 100%;
    height: 95rem/$size_m;
    color: white;
    box-sizing: border-box;
    padding: 8rem/$size_m;
    font-size: 17rem/$size_m;
    line-height:28rem/$size_m;
    text-align: center;
    //position: absolute;
    //bottom: 0;
  }
}
/*媒体查询 头部样式*/
/*以下两个为pc端的-------------------------------开始-------------------start---------------------------------------*/
@media screen and (min-width: 1200px) {
  /* width>1200px */
  @include footer_p;
}
@media screen and (min-width: 980px) and (max-width: 1199px){
  /* 980px<width<1199px */
  @include footer_p;
}
/*pc端的媒体查询样式结束----------------------------------------------结束-------end----------------------*/

/*以下为移动端的样式 以上为pc 和 平板的样式  750px--------------------------移动端开始--------start----------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 979px){
  /* 768px<width<979px */
  @include footer_m;
}
@media screen and (max-width: 767px){
  /* width<767px */
  @include footer_m;
}
@media screen and (max-width: 480px){
  /* width<480px */
  @include footer_m;
}
/*------------------------------移动端媒体查询结束----------------------------------------------------------结束----end------------------------*/
