@charset "UTF-8";
#content {
  text-align: center; }
  #content .bg {
    width: 100%; }
  #content .box {
    box-sizing: border-box;
    position: relative; }

/*以下两个为pc端的-------------------------------开始-------------------start---------------------------------------*/
@media screen and (min-width: 1200px) {
  /* width>1200px */
  .home_m {
    display: none; }

  .home_p {
    line-height: 2; }

  .first {
    margin-top: 2.0877285513rem; }

  .android_download {
    position: absolute;
    width: 6.9224683544rem;
    height: 1.9778481013rem;
    top: 12.9658931083rem;
    left: 7.801511955rem;
    z-index: 1;
    cursor: pointer; }

  .iphone_download {
    position: absolute;
    width: 6.9224683544rem;
    height: 1.9778481013rem;
    top: 15.8227848101rem;
    left: 7.801511955rem;
    z-index: 1;
    cursor: pointer; }

  .android_code {
    display: none;
    position: absolute;
    z-index: 1;
    top: 12.9658931083rem;
    left: 15.3832630098rem;
    width: 4.680907173rem;
    height: 4.680907173rem; }

  .iphone_code {
    display: none;
    position: absolute;
    z-index: 1;
    top: 12.9658931083rem;
    left: 15.3832630098rem;
    width: 4.680907173rem;
    height: 4.680907173rem; }

  div.first_text {
    width: 100%;
    font-size: 1.0548523207rem;
    font-weight: lighter;
    letter-spacing: 0.5274261603rem;
    color: #333333;
    position: absolute;
    top: 21.4266877637rem; }

  .text {
    text-align: right;
    position: absolute;
    top: 14.7239803094rem;
    left: 26.8108298172rem;
    width: 10.878164557rem; }

  .text_left {
    text-align: left;
    position: absolute;
    top: 14.7239803094rem;
    left: 8.5706751055rem;
    width: 11.4275668073rem; }

  .title {
    font-size: 1.582278481rem;
    font-weight: bolder;
    letter-spacing: 0.1758087201rem; }
    .title .text_color {
      color: #429aeb; }

  .english_title {
    font-size: 0.5713783404rem;
    font-weight: lighter;
    color: #333; }

  .content_text {
    font-size: 0.5713783404rem;
    font-weight: lighter;
    color: #333; }

  .top {
    position: absolute;
    right: 0.7471870605rem;
    bottom: -2.6371308017rem;
    cursor: pointer;
    width: 1.4064697609rem;
    height: 1.7361111111rem; } }
@media screen and (min-width: 980px) and (max-width: 1199px) {
  /* 980px<width<1199px */
  .home_m {
    display: none; }

  .home_p {
    line-height: 2; }

  .first {
    margin-top: 2.0877285513rem; }

  .android_download {
    position: absolute;
    width: 6.9224683544rem;
    height: 1.9778481013rem;
    top: 12.9658931083rem;
    left: 7.801511955rem;
    z-index: 1;
    cursor: pointer; }

  .iphone_download {
    position: absolute;
    width: 6.9224683544rem;
    height: 1.9778481013rem;
    top: 15.8227848101rem;
    left: 7.801511955rem;
    z-index: 1;
    cursor: pointer; }

  .android_code {
    display: none;
    position: absolute;
    z-index: 1;
    top: 12.9658931083rem;
    left: 15.3832630098rem;
    width: 4.680907173rem;
    height: 4.680907173rem; }

  .iphone_code {
    display: none;
    position: absolute;
    z-index: 1;
    top: 12.9658931083rem;
    left: 15.3832630098rem;
    width: 4.680907173rem;
    height: 4.680907173rem; }

  div.first_text {
    width: 100%;
    font-size: 1.0548523207rem;
    font-weight: lighter;
    letter-spacing: 0.5274261603rem;
    color: #333333;
    position: absolute;
    top: 21.4266877637rem; }

  .text {
    text-align: right;
    position: absolute;
    top: 14.7239803094rem;
    left: 26.8108298172rem;
    width: 10.878164557rem; }

  .text_left {
    text-align: left;
    position: absolute;
    top: 14.7239803094rem;
    left: 8.5706751055rem;
    width: 11.4275668073rem; }

  .title {
    font-size: 1.582278481rem;
    font-weight: bolder;
    letter-spacing: 0.1758087201rem; }
    .title .text_color {
      color: #429aeb; }

  .english_title {
    font-size: 0.5713783404rem;
    font-weight: lighter;
    color: #333; }

  .content_text {
    font-size: 0.5713783404rem;
    font-weight: lighter;
    color: #333; }

  .top {
    position: absolute;
    right: 0.7471870605rem;
    bottom: -2.6371308017rem;
    cursor: pointer;
    width: 1.4064697609rem;
    height: 1.7361111111rem; } }
/*pc端的媒体查询样式结束----------------------------------------------结束-------end----------------------*/
/*以下为移动端的样式 以上为pc 和 平板的样式  750px--------------------------移动端开始--------start----------------------------------------*/
@media screen and (min-width: 768px) and (max-width: 979px) {
  /* 768px<width<979px */
  .home_p {
    display: none; }

  .first {
    margin-top: 5.9375rem; }

  .btn_download {
    text-align: center;
    position: absolute;
    top: 62.5rem;
    left: 50%;
    margin-left: -8.75rem; }
    .btn_download img {
      width: 17.5rem;
      height: 7.5rem; }

  .top {
    position: absolute;
    right: 2.375rem;
    bottom: -2.8125rem;
    z-index: 1;
    width: 4.0625rem;
    height: 6.3125rem; } }
@media screen and (max-width: 767px) {
  /* width<767px */
  .home_p {
    display: none; }

  .first {
    margin-top: 5.9375rem; }

  .btn_download {
    text-align: center;
    position: absolute;
    top: 62.5rem;
    left: 50%;
    margin-left: -8.75rem; }
    .btn_download img {
      width: 17.5rem;
      height: 7.5rem; }

  .top {
    position: absolute;
    right: 2.375rem;
    bottom: -2.8125rem;
    z-index: 1;
    width: 4.0625rem;
    height: 6.3125rem; } }
@media screen and (max-width: 480px) {
  /* width<480px */
  .home_p {
    display: none; }

  .first {
    margin-top: 5.9375rem; }

  .btn_download {
    text-align: center;
    position: absolute;
    top: 62.5rem;
    left: 50%;
    margin-left: -8.75rem; }
    .btn_download img {
      width: 17.5rem;
      height: 7.5rem; }

  .top {
    position: absolute;
    right: 2.375rem;
    bottom: -2.8125rem;
    z-index: 1;
    width: 4.0625rem;
    height: 6.3125rem; } }
/*------------------------------移动端媒体查询结束----------------------------------------------------------结束----end------------------------*/

/*# sourceMappingURL=homePage.css.map */
